.menu{
    background: var(--green-primary);
    color:var(--white-primary);
    display:flex;
    justify-content: center;
}
.menuList{
    display:flex;
    gap:1rem;
    list-style:none;
    padding:1rem 0;
}
.menuList a {
    color:var(--white-primary);
    text-decoration: none;
}
.photoWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:3rem 0;
}
.photoWrapper figure{
    display:flex;
    justify-content: center;
    width:100%;
    margin: 0 auto;
}
.photoWrapper img {
    width:40%;
    margin:0 auto;
    padding-bottom:3rem;
}
.textWrapper{
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:50%;
    margin: 0 auto;
}
.textWrapper p{
    line-height: 1.5rem;
}
.adsWrapper{
    display:flex;
    gap:1rem;
}
.adsWrapper a {
    background: #dff0d8;
    color:#3c763d;
    width:100%;
    text-align: center;
    padding:1rem;
}
.registerForm{
    border:1px solid #00000031;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    width:80%;
    margin: 0 auto;
}
.registerModule input{
    padding:0.5rem;
    width:100%;
}
.registerForm select{
    padding:0.5rem;
    width:50%;
}
.registerModule select{
    padding: 0.5rem;
    width:100%;
}
.registerTitle{
    color:var(--blue-secondary);
    padding:1rem 0;
}
.registerModule{
    align-items: center;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
}
@media(min-width:240px) and (max-width:900px){
    .menuList{
        flex-direction: column;
        justify-content: flex-start;
        width:100%;
    }
    .textWrapper{
        width:90%;
    }
    .photoWrapper img{
        width:100%;
    }
}