.cardWrapper{
    background: #fff;
    border-radius: 8px;
    cursor:pointer;
    display:flex;
    flex-direction: column;
    height:100%;
    padding:0.5rem;
    width:100%;
}
.cardImage{
    width:100%;
}
.cardImage img{
    height:100%;
    object-fit:cover;
    object-position: center;
    width:100%;
}
.cardTitles{
    color:var(--black-secondary);
    line-height: 1.5rem;
    padding-top:0.5rem;
    text-align: center;
    width:100%
}