.pagePortraitWrapper{
    background:url('https://archivos.him.edu.mx/graficos/bg-page-banner.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color:var(--white-primary);
    margin-top:6rem;
    text-align: start;
    width:100%;
}
.pagePortraitContent{
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    margin:0 auto;
    width:80%;
}
.pagePortraitWrapper figure{
    width:50%;
    height:400px;
}
.pagePortraitContent img{
    height:100%;
    object-fit: contain;
    width: 100%;
}
.pagePortraitContent div{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    width:100%;
}
.title{
    margin-top:10rem;
    font-size:5rem;
}
.subtitle{
    font-size:2.5rem;
}

@media (min-width:240px) and (max-width:1024px){
    .pagePortraitContent{
        flex-direction: column;
    }
    .pagePortraitWrapper figure{
        width:100%;
        height:400px;
    }
    .title{
        margin:0;
        font-size:2rem;
        text-align: center;
    }
    .subtitle{
        font-size:1rem;
    }
    .pagePortraitContent div{
        align-items: center;
        padding:2.5rem 0;
    }
    .pagePortraitContent img{
        height:100%;
        object-fit: cover;
        width: 100%;
    }
}
@media (min-width:1025px) and (max-width:1600px){
    .pagePortraitContent div{
        align-items: center;
    }
    .title{
        font-size: 3rem;
        text-align:center;
    }
    .subtitle{
        font-size: 1.5rem;
    }
}