.pagePortraitWrapper{
    align-items: center;
    background:url('https://archivos.him.edu.mx/graficos/bg-page-banner.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color:var(--white-primary);
    display:flex;
    justify-content: space-evenly;
    margin-top:6rem;
    text-align: justify;
    width:100%;
}
.pagePortraitWrapper figure{
    display:flex;
    justify-content: flex-end;
    width:25%;
}
.pagePortraitWrapper img{
    height:100%;
    object-fit: cover;
    width: 100%;
}
.pagePortraitWrapper div{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top:10rem;
    width:100%;
    width:65%;
}
.title{
    font-size:5rem;
}
.subtitle{
    font-size:2.5rem;
}