.loaderPageContentWrapper{
    align-items: center;
    color:var(--green-primary);
    display:flex;
    flex-direction: column;
    gap:3.5rem;
    height:100vh;
    justify-content: center;
    width:100%;
}
.loaderPageContent {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    animation: wave 1s ease-in infinite;
  }
  
  @keyframes wave {
   0% {  box-shadow:
    0 0 0 0px var(--green-primary),
    0 0 0 20px rgba(0, 54, 11, 0.2),
    0 0 0 40px rgba(0, 129, 26, 0.2),
    0 0 0 60px rgba(0, 54, 11, 0.2),
    0 0 0 80px rgba(0, 129, 26, 0.2),
    }
    100% {  box-shadow:
      0 0 0 80px rgba(0, 54, 11, 0.2),
      0 0 0 60px rgba(0, 129, 26, 0.2),
      0 0 0 40px rgba(0, 54, 11, 0.2),
      0 0 0 20px rgba(0, 129, 26, 0.2),
      0 0 0 0px var(--green-primary)
    }
  }
@media(min-width:240px) and (max-width:880px){
  .loaderPageContentWrapper{
    height:50vh;
  }
}
    