.headerWrapper{
    background:var(--green-primary);
    color:var(--white-primary);
    padding:1rem 0;
    width:100%;
}
.headerNav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.headerNav img {
    width:30%;
}
.imageContainer{
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding:1rem 0;
}
.imageContainer img{
    width:6rem;
}