.headerWrapper{
    background:var(--green-primary);
    color:var(--white-primary);
    padding:1rem 0;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}
.headerNav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.headerNav img {
    width:30%;
}
.headerNav ul {
    align-items: center;
    display:flex;
    gap:1rem;
    list-style: none;
}
.headerNav a {
    color:var(--white-primary);
    text-decoration: none;
}
.headerNav button{
    background: none;
    border:1px solid var(--white-primary);
    color:var(--white-primary);
    cursor:pointer;
    padding:0.5rem;
}
.imageContainer{
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding:0.2rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.imgSecretary{
    width:8rem;
}
.logo{
    width:4rem;
}
.userLoginIcon{
    background:var(--white-primary);
    border-radius:50%;
    color:var(--green-primary);
    font-size:2rem;
}
.headerIconNav{
    color:#0e3200b6;
    display:flex;
    align-items: center;
}
@media (min-width:240px) and (max-width:880px){
    .headerNav{
        flex-direction: column;
        justify-content: center;
    }
    .headerNav ul{
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding:1rem;
        width:90%;
    }
    .imageContainer{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding:1rem;
    }
    .headerIconNav{
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        width:100%;
    }
}