.headerWrapper{
    background:var(--green-primary);
    color:var(--white-primary);
    padding:1rem 0;
    width:100%;
}
.headerNav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.headerNav img {
    width:30%;
}
.imageContainer{
    display:flex;
    justify-content: center;
    padding:1rem 0;
}
.imageContainer img{
    width:8rem;
}
.headerNavList{
    display:flex;
    gap:1rem;
    justify-content: space-between;
    list-style: none;
}
.headerNavList a{
    color:var(--white-primary);
    text-decoration: none;
}
@media (min-width:240px) and (max-width:900px){
    .headerNav{
        flex-direction: column;
        justify-content: center;
    }
}