.textsWrapper{
    width:100%;
}
.texts{
    display:flex;
    width:100%;
    margin: 0 auto;
}
.texts div {
    width:100%;
}
.texts img{
    width:100%;
    height:100%;
}
.text{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height:100%;
}
.text p{
    line-height: 2.5rem;
    padding:1.5rem;
    text-align:justify;
    width:100%;
}
.text div{
    width:100%;
}
.text_image{
    width:100%;
    height: 100%;
}
.text_image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.displayNone{
    display:block;
}
@media (min-width:240px) and (max-width:1000px){
    .displayNone{
        display:none;
    }
    .text{
        grid-template-columns: 1fr;
    }
    .texts{
        flex-direction: column;
    }
    .text p{
        width:100%;
        text-align: justify;
        line-height: 2rem;
    }
    .texts img{
        padding-bottom:1rem;
    }
}

@media (min-width:1200px) and (max-width:1400px){
    .texts{
        flex-direction: column;
    }
    .text{
        padding: 2rem;
    }
    .text p{
        width:100%;
        margin: 0 auto;
        text-align: justify;
    }
    .text_image img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}