.paymentWrapper{
    display:flex;
    gap:1rem;
}
.paymentWrapper h3{
    color:var(--blue-secondary);
    text-align: center;
}
.paymentForm{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    margin: 0 auto;
    padding: 1rem;
    width:100%;
}
.paymentForm input{
    width:100%;
}
.paymentForm button{
    background: var(--green-secondary);
    border:none;
    color:var(--white-primary);
    cursor:pointer;
    padding:0.5rem;
    width:100%;
}
.paymentDetails{
    color:var(--black-secondary);
    display:flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.5rem;
    gap:1rem;
    padding:1rem;
    width:100%;
}
.paymentDetails p{
    color:var(--blue-secondary);
    font-weight: 600;
    text-align: center;
}
.paymentDetails figure{
    height:200px;
    width:100%;
}
.paymentDetails img{
    height:100%;
    width:100%;
}
.debitCards{
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:1rem;
    margin-top:4rem;
    justify-content: center;
}
.debitCards figure{
    height:50px;
    width:100%;
}
.debitCards img{
    height:100%;
    object-fit: contain;
    width:100%;
}
@media (min-width:240px) and (max-width:880px){
    .paymentForm{
        grid-template-columns: 1fr;
        width:90%;
    }
    .paymentWrapper{
        flex-direction: column;
    }
}