.formLogin{
    border-radius:5px;
    box-shadow:1px 2px 10px #00000024;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    width:100%;
}
.formLogin input{
    padding:0.5rem;
}
.formLogin button{
    background:var(--green-primary);
    border:none;
    color:var(--white-primary);
    padding:0.5rem;
}